@font-face {
  font-family: 'Firacode';
  src: url(/fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: 'FiracodeVariable';
  src: url(/fonts/FiraCode-Variable.ttf);
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss03' 1;
  color-scheme: light dark;

  --light-bg: #f8f8ff;
  --dark-bg: #191919;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }

  pre, code {
    font-family: "FiracodeVariable", monospace;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre, code {
  font-family: "Firacode", monospace;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
  }
}

pre {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
}
