---
import {
  trips,
  groupTripsByYear,
  getSortedYears,
  getTbaTrips,
} from "@lib/travel";
import TravelTrip from "./TravelTrip.astro";
import YearGroup from "@components/YearGroup.astro";
import styles from "./TravelTripList.module.css";

const tripsByYear = groupTripsByYear(trips);
const years = getSortedYears(tripsByYear);
// const tbaTrips = getTbaTrips(trips);
---

<div class={styles.tripList}>
  <!-- {
    tbaTrips.length > 0 && (
      <YearGroup year="TBA">
        {tbaTrips.map((trip) => (
          <TravelTrip trip={trip} />
        ))}
      </YearGroup>
    )
  } -->
  {
    years.map((year) => (
      <YearGroup year={year}>
        {tripsByYear[year].map((trip) => (
          <TravelTrip trip={trip} />
        ))}
      </YearGroup>
    ))
  }
</div>
