<div id="map" class="map">
  <div id="placeholder" class="placeholder" />
</div>

<style>
  .map {
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  @media (max-width: 480px) {
    .map {
      height: 300px;
    }
  }

  .placeholder {
    background-color: #222222;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
  }

  @media (prefers-color-scheme: light) {
    .placeholder {
      background-color: #ebedf0;
    }
  }
</style>

<style is:global>
  .maplibregl-marker > svg g[fill="#3FB1CE"] {
    fill: red;
  }
</style>

<script src="@scripts/travel-map"></script>
