---
import { Icon } from "astro-icon/components";
import { countries, countryListSize, cities } from "@lib/travel";

const total = countryListSize;
---

<div class="stats">
  <div class="card">
    <h3>Countries</h3>
    <div class="with-info">
      <span class="value">{countries.size} / {total}</span>
      <a href="/travel/countries"><Icon name="info" class="info-icon" /></a>
    </div>
    <div class="value">{Math.floor((countries.size / total) * 100)}%</div>
  </div>
  <div class="card">
    <h3>Cities</h3>
    <div class="value">{cities.size}</div>
  </div>
  <div class="card">
    <h3>Continents</h3>
    <div class="value">2 / 7</div>
  </div>
</div>

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: auto;
  }

  .stats {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    position: relative;
  }

  .card {
    background-color: #222222;
    padding: 1em;
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5em 1em;
    align-content: start;
    justify-items: start;
    justify-content: start;
  }

  @media (prefers-color-scheme: light) {
    .card {
      background-color: #ebedf0;
    }
  }

  .card > h3 {
    width: 100%;
    grid-column-start: span 3;
    justify-self: start;
    align-self: start;
  }

  .with-info {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .with-info > a {
    display: inline-flex;
  }

  .info-icon {
    color: #666;
  }

  .value {
    font-weight: 500;
    font-variant-numeric: tabular-nums;
  }

  .stamps {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    transform: rotate(340deg);
  }

  @media (max-width: 480px) {
    .stats {
      grid-auto-flow: unset;
      grid-template-columns: 1fr;
      gap: 0;
      border-radius: 5px;
      overflow: hidden;
    }

    .card {
      border-radius: 0;
      padding: 1em;
    }

    .stamps {
      display: block;
    }
  }
</style>
