---
import { Icon } from "astro-icon/components";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Lost in Zach's World">
  <div class="container">
    <h1><span class="code">404:</span> Not found</h1>
  </div>
</PageLayout>

<style>
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
