---
import PageLayout from "@layouts/PageLayout.astro";
import Footer from "@components/Footer.astro";
import TravelHeader from "@components/travel/TravelHeader.astro";
import TravelMap from "@components/travel/TravelMap.astro";
import TravelStats from "@components/travel/TravelStats.astro";
import TravelTripList from "@components/travel/TravelTripList.astro";
---

<PageLayout title="Zach's travels">
  <main>
    <TravelHeader />
    <TravelMap />
    <TravelStats />
    <TravelTripList />
  </main>
  <Footer />
</PageLayout>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 35px;
    box-sizing: border-box;
    padding: 0 1em;

    display: grid;
    gap: 20px;
  }
</style>
