---
import "@styles/global.css";
import "@styles/admin.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" href="/favicon.svg" />
    <Font cssVariable="--font-inter" preload />
  </head>
  <body>
    <main class="admin-container">
      <slot />
    </main>
  </body>
</html>
