---
import "@styles/global.css";
import { Font } from "astro:assets";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{frontmatter.title}</title>
    <meta name="title" content="Zach" />
    <meta name="description" content="Zach" />
    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-fira-code" />
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <main class="md">
      <slot />
    </main>
  </body>
</html>

<style>
  .md {
    padding: 2rem;
  }
</style>
