---
import "@styles/global.css";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{frontmatter.title}</title>
    <meta name="title" content="Zach" />
    <meta name="description" content="Zach" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    padding: 1em;
  }
</style>
