---
import "@styles/global.css";
import { Font } from "astro:assets";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Software engineer & traveler" } = Astro.props;
const cdnDomain = import.meta.env.PROD ? "cdn.orlovsky.dev" : null;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <SEO title={title} description={description} />
    <link rel="icon" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg" color="#000000" />
    <meta
      name="theme-color"
      content="#f8f8ff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#191919"
      media="(prefers-color-scheme: dark)"
    />
    {cdnDomain && <link rel="preconnect" href={`https://${cdnDomain}`} />}
    <Font cssVariable="--font-inter" preload />
  </head>
  <body>
    <slot />
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "3af10005546641a0882b81846b2f6d3b"}'></script>
  </body>
</html>
