---
import "@styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="title" content="Zach" />
    <meta name="description" content="Zach" />
    <link rel="icon" href="/favicon.svg">
    <link rel=”mask-icon” href=”/favicon.svg” color=”#000000">
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
